<div class="container">
  <footer class="footer">
  	<address>
    <small>Copyright &copy; Ruby on Rails App by <em><a href="mailto:loimaria2000@gmail.com">Maria Loi</a></em>
    </small>
    </address>
  </footer>
</div>